*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.row>*{
    padding-right: 0;
    padding-left: 0;
}
.cards{
    margin: 30px;
}
.pack{
    background-color: #FFFAFF;
}
.precio{
    font-size: 20px;
}
.img-tendencia{
    height: 20rem;
}
header{
    background-color: #30BCED;
}
a{
    color: black;
}
.section-tendencia{
    background-color: #303036;
}
.text-tendencia{
    padding-top: 1rem;
    color: #FFFAFF;
}
.boton{
    background-color: #30BCED;
}
#text-celeste{
    margin-left: 1rem;
    color: #30BCED;
}
span{
    color: #30BCED;
}
.tipo-viaje{
    width: 30%;
}
.imagenes{
    display: flex;
    justify-content: flex-end;
}
.section-viajes{
    background-color: #30BCED;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.imagenes img{
    margin: 1rem;
}
.text h2 p{
    color: #303036;
}
footer{
    padding-top: 1rem;
    background-color: #FFFAFF;
    /* position: absolute;
    bottom: 0;
    width: 100%;   */
}
.footer-text{
    font-size: 1rem;
}
.detalles-viaje h1{
    font-size: 25px;
    font-weight: bold;
}
.detalles-viaje h2{
    margin-top: 1rem;
    font-size: 18px;
}
.detalles-viaje p{
    font-size: 18px;
}
.detalles-viaje{
    margin-top: 1rem;
}
.punto{
    content: 50px;
    margin: 0;
    padding: 0;
}
.etapas{
    font-weight: bold;
}
.redes{
    width: 30px;
    height: 30px;
}
.caja-redes img{
    margin-top: 1rem;
    margin-right: 1rem;
}
.caja-contacto{
    margin: 1rem;

}
form{
    width: 35rem;
}
.contacto-img{
    width: 30px;
    height: 30px;
}
.correo-contacto h2 {
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 0;
}
.correo-contacto img{
    margin-left: 1rem;
}
.correo-contacto{
    margin-top: 2rem;
    margin-bottom: 10rem;
}
.correo-contacto div{
    margin-top: 1rem;
}
.contacto-img-especial{
    width: 23px;
    height: 23px;
}
.btn-color{
    background-color: #30BCED;
}
.especial-footer{
    padding-top: 1rem;
    background-color: #FFFAFF;
    position: absolute;
    bottom: 0;
    width: 100%;  
}
.img-quiensomos{
    width: 100%;
}
.quiensomos img{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 25%;
}
.quiensomos{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #30BCED;
}
.foto-viaje{
    width: 100%;
}