
.detalles-viaje{
    margin-top: 1rem;
    h1{
        @extend .encabezado;
    }
    h2{
        @extend .encabezado;
        margin-top: 1rem;
        font-size: 18px;
    }
    .punto{
        color: nth($colors, 2)
    }   
    p{
        font-size: 18px;
        .etapas{
            font-weight: bold;
            color: nth($colors, 2)
        }
    }
    
}