.detalles-viaje{
    margin-top: 1rem;
    h1{
        font-size: 25px;
        font-weight: bold;
    }
    h2{
        margin-top: 1rem;
        font-size: 18px;
    }
    p{
        font-size: 18px;
    }
    .punto{
        content: 50px;
        margin: 0;
        padding: 0;
    }
    .etapas{
        font-weight: bold;
        color: nth($colors, 2)
    }

}